{
    auto_https off
    servers {
		trusted_proxies static 169.254.0.0/16
	}
}

:8080

reverse_proxy {
    to eu.posthog.com:443
    header_up Host {http.reverse_proxy.upstream.host}
    transport http {
        tls
    }
}